{% if site.gtag %}
 
<!-- Add google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>

<script>
    // Reads the value of a cookie by name or returns empty string
    function getCookie(name) {
        var b = document.cookie.match('(^|[^;]+)\\s*' + name + '\\s*=\\s*([^;]+)');
        return b ? b.pop() : '';
    }
    // Actually starting analytics up
    function addAnalytics() {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
gtag('js', new Date()); 
gtag('event', 'screen_view', { 'screen_name': 'Home'});
gtag('event', 'timing_complete', {
      'name' : 'load',
      'value' : 3000,
      'event_category' : 'JS Dependencies'
        });
gtag('config', '{{ site.gtag }}', {
          'anonymize_ip': true
        }); 
    }
    // Waiting for the load event
    window.addEventListener("load", function () {
        // Reading "cookieconsent_status" cookie
        const cookieConsent = getCookie('cookieconsent_status');
        // Start analytics if user consented or did not deny
        if (cookieConsent === 'allow' || cookieConsent === '' ) {
            addAnalytics();
        }else if ( cookieConsent === "deny"){
            window['ga-disable-{{ site.gtag }}'] = true;
        }else{
          
        }
        // Initialise cookie consent banner
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#eeeeee",
                    "text": "#646464"
                },
                "button": {
                    "background": "#transparent", 
                    "border": "#646464",
                    "text": "#646464" 
                }
            },
            "type": "opt-in",
            "content": {
                "allow": "Autoriser les cookies",
                "dismiss": "Refuser",
                "deny": "Non merci !", 
"header": 'Politique de gestion des cookies!',
"message": 'Ce site utilise des cookies', 
"link": 'En savoir plus',
"href": '{{ '' | absolute_url }}privacypolicy#politique-de-gestion-des-cookies',
"close": '&#x274c;',
"policy": 'Politique de gestion des cookies',
"target": '_blank', 
            },
            // Reload the page on user choice to make sure cookie is set
            onStatusChange: function (status, chosenBefore) {
                location.reload();
            }
        })
    });
</script>

{% endif %}