// Placeholder to allow defining custom styles that override everything else. 



/* Span */
/* https://stackoverflow.com/questions/257505/css-fixed-width-in-a-span */
div.f1 { float: left; width: 20px;   }
div.f2 { float: left; }
div.f3 { clear: both; }

span.f1 { 
	 width: 16%; overflow: hidden;}
/* display: block; float: left; clear: left; */ 
 
	
/* ----- About Container ----- */

.about-container {
  margin: 0px;
  position: relative;
}

.about-container p {
  margin: 0px;
}

.about-container-content {
  opacity: 0.95;
  background-color: #ede7d5;
  border-color: #7c7c7c;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px 8px 8px 8px;
  padding: 2px 8px 2px 8px;
  font-size: 16px;
}

.about-container-header:hover {
  cursor: pointer;
}

.about-container-heading {
  /*
  font-family: 'Share Tech Mono', Consolas, monospace;
  */
  font-size: 18px;
}

.about-prompt {
  color:#c7254e;
  font-weight: 400;
}

 

.about-font-default {
  color: #7c7c7c;
}

.about-font-cmd { 
  color: #404040;
}

.about-font-string {
  color:#1a83a6;
}

.about-font-out {
  color: #404040;
}

.blinking-cursor {
  /*
  font-weight: 100;
  font-size: 30px; */
  color: #ffffff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}


/* ----- extensions ----- */

.extensions {
  margin: map-get($spacers, 3) 0;
  @extend .d-print-none;
}

.extensions--video, .extensions--slide, .extensions--demo {
  position: relative;
  width: 98%;
  padding: 0;
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.extensions--video {
  padding-top: percentage(315 / 560);
  height:416px;
}

.extensions--slide {
  padding-top: percentage(487 / 599);
}

.extensions--demo {
  min-height: 340px;
  padding-top: percentage(315 / 560);
}

.extensions--audio {
  display: block;
  max-width: 100% !important;
}



/* ----- https://ben.balter.com/2014/03/13/pages-anchor-links/ but not working ----- */ 

.header-link {
  position: absolute;
  left: -1.0em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
 
/*****************************************************************************/
/* ----- tufte css ----- */ 
/*****************************************************************************/
@charset "UTF-8";
/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/
@font-face {
  font-family: ETBembo;
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: ETBembo;
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: ETBembo;
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: ETBemboRomanOldStyle;
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
/* This file contains all the constants for colors and font styles */
/**
 * Syntax highlighting styles
 */
/* Basic Layout stuff --*/
article {
  position: relative;
  padding: 1 rem 0rem 2.5rem 0rem; }

section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
 

figure, figure img.maincolumn { 
  max-width: 99%; 
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em; }

figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }

figure.fullwidth figcaption {
  float: left;
  margin-right: 0%;
  margin-left: 36%; }

img {
  max-width: 100%; }

.sidenote, .marginnote {
  float: right;
  clear: right;
    margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1.96rem;
  font-size: 1.8rem;
  line-height: 1.96rem;
  vertical-align: baseline;
  position: relative; }

li .sidenote, li .marginnote {
  margin-right: -60%; }
 
  
blockquote .sidenote, blockquote .marginnote {
  margin-right: -60%; }

.sidenote-number {
  counter-increment: sidenote-counter;
 }

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  color: #a00000;
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.sidenote:before {
  content: counter(sidenote-counter) ". ";
  color: #a00000;
  top: 0rem; }

 

div.table-wrapper {
  overflow-x: auto; }

@media screen and (max-width: 760px) {
  p, footer, div.mathblock {
    width: 90%; }

  pre code {
    width: 87.5%; }

  ul {
    width: 85%; }

  figure {
    max-width: 90%; }

  figcaption, figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }

  blockquote p, blockquote footer {
    width: 80%;
    padding-left: 5%;
    padding-right: 5%; } }
.marginnote code, .sidenote code {
  font-size: 1rem; }

 

.fullwidth, li.listing div {
  max-width: 90%; }

.full-width .sidenote, .full-width .sidenote-number, .full-width .marginnote {
  display: none; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: 0.05rem; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
    color: #a00000; }

  .sidenote, .marginnote {
    display: none; }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin:  1rem 2.5%;
    vertical-align: baseline;
    position: relative; }

  label {
    cursor: pointer; }

 
/*--- End of Basic Layout stuff from tufte.css ---*/


















